/* MOBILE FIRST CSS*/


/* Setting the margin and padding of the whole page to 0*/
* {
    margin: 0;
    padding: 0;
}

/* Setting the gradient color to the background, and making the height of it as automatic*/
.bg {
    height: auto;
    background-image: linear-gradient(#4D4C4C, #000000);
}

/* Editing the styles of the navigation bar and making it sticky*/
.nav {
    padding: 0;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #2A2A2A;
    z-index: 100;
    box-shadow: 0 5px 20px 0 #00000029;
}

/* Setting the navigation elements hidden for mobile*/
.nav ul {
    visibility: hidden;
}

/* Editing the styles of the menu(open/close) icons*/
.open_menu {
    margin: 2vh;
}

.close_menu {
    visibility: hidden;
}

/* Setting up the logo image container*/
.logo_container {
    margin-top: 8%;
    width: 100%;
    top: 10vh;
    text-align: center;
}

/* Setting up the logo image width*/
.logo {
    width: 65%
}

.panel {
    margin-top: 10%;
    width: 100%;
    top: 25vh;
    text-align: center;
}

.copyright {
    margin-top: 10%;
    text-align: center;
    padding-bottom: 5%;
}

.copyright h1,
h2 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #bcbcbc;
}

.copyright h3 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    margin-top: 3.5%;
    letter-spacing: normal;
    color: #bcbcbc;
}

.druhin {
    width: 15%;
    margin-top: 1%;
}
