* {
    margin: 0;
    padding: 0;
}

.bg {
    height: auto;
    background-image: linear-gradient(#4D4C4C, #000000);
}

.nav {
    text-align: center;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #2A2A2A;
    z-index: 100;
    box-shadow: 0 5px 20px 0 #00000029;
}

.nav ul {
    visibility: hidden;
}

.open_menu {
    margin: 2vh;
}

.close_menu {
    visibility: hidden;
}

.logo_container {
    margin-top: 7%;
    width: 100%;
    top: 10vh;
    text-align: center;
}

.panel {
    margin-top: 7%;
    width: 100%;
    top: 25vh;
    text-align: center;
}

.copyright{
    margin-top: 10%;
    text-align: center;
}

.copyright h1 {
    font-family: Montserrat;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: bcbcbc;
}
