* {
    margin: 0;
    padding: 0;
}

.bg {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#4D4C4C, #000000);
}

.nav {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: #2A2A2A;
    z-index: 100;
    box-shadow: 0 5px 20px 0 #00000029;
}

.nav ul {
    visibility: hidden;
}

.open_menu {
    margin: 2vh;
}

.close_menu {
    visibility: hidden;
}

.logo {
    position: absolute;
    top: 10vh;
}

.panel {
    position: absolute;
    top: 0;
    text-align: center;
}
